<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="header-action">
                <h1 class="page-title">Chat</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">PFE Insat</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Chat</li>
                </ol>
            </div>
            <ul class="list-unstyled team-info mb-0">
                <li class="mr-4">Rerecent Chat</li>
                <li><img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" title="" alt="Avatar" data-original-title="Avatar"></li>
                <li><img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" title="" alt="Avatar" data-original-title="Avatar"></li>
                <li><img src="../assets/images/xs/avatar5.jpg" data-toggle="tooltip" title="" alt="Avatar" data-original-title="Avatar"></li>
            </ul>
        </div>
    </div>
</div>
<input type='text' [(ngModel)]="room" (keyup.enter)="addroom()">
<div class="section-body mt-4 chat_app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header bline">
                        <h3 class="card-title">Friends Group <small>Last seen: 2 hours ago</small></h3>
                        <div class="card-options">
                            <a href="javascript:void(0)" class="p-1 chat_list_btn"><i class="fa fa-align-right"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-plus"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-cog"></i></a>
                            <a href="javascript:void(0)" class="p-1"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="card-body chat_windows" >
                        <ul class="mb-0" id="chat" >
                            <li *ngFor="let message of messages" [class]="message.sender == 'me' ? 'my-message' : 'other-message'" style="margin-bottom: 0.5%;">
                                <div class="message">
                                    <p [style]="message.sender == 'me' ? 'background-color:rgb(84, 125, 247); color : white' : 'background-color: #E2E7EA'" (click)="showDate(message)" >{{message.text}}</p>
                                    <span class="time" [hidden]="message.dateHidden">{{message.date}}</span>
                                </div>
                            </li>
                        </ul>
                        <div class="chat-message clearfix">
                            <a href="javascript:void(0);"><i class="icon-camera"></i></a>
                            <a href="javascript:void(0);"><i class="icon-camcorder"></i></a>
                            <a href="javascript:void(0);" (click)="addChat()"><i class="icon-paper-plane"></i></a>
                            <div class="input-group mb-0">
                                <input type="text" class="form-control" placeholder="Enter text here..." [(ngModel)]="text" (keyup.enter)="addChat()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/core.js"></script>