<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>:: {{title}}</title>

  <!-- Bootstrap Core and vandor 
  <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />

   Core css 
  <link rel="stylesheet" href="../assets/css/style.min.css" />-->
</head>  

<body>
  <div id="main_content">
    <app-main-top-header></app-main-top-header>
    <app-right-bar-setting-panel></app-right-bar-setting-panel>
    <app-quick-menu></app-quick-menu>
    <app-main-leftbar></app-main-leftbar>
    <app-project-content-area></app-project-content-area>
  </div>

  <app-new-event-popup></app-new-event-popup>
  <app-direct-event-popup></app-direct-event-popup>
  <app-edit-modal-popup></app-edit-modal-popup>
  <!-- Start Main project js, jQuery, Bootstrap -->
  <script src="../assets/bundles/lib.vendor.bundle.js"></script>

  <!-- Start Plugin Js -->
  <script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="../assets/plugins/dropify/js/dropify.min.js"></script>
  <script src="../assets/bundles/summernote.bundle.js"></script>

  <!-- Start project main js  and page js -->
  <script src="../assets/js/core.js"></script>
  <script src="assets/js/form/dropify.js"></script>
  <script src="assets/js/page/summernote.js"></script>
</body>