<div id="left-sidebar" class="sidebar">
    <h5 class="brand-name">Ericsson<a href="javascript:void(0)" class="menu_option float-right"><i
                class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                title="Grid & List Toggle"></i></a></h5>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">Student</a></li>
    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
            <nav class="sidebar-nav">
                <ul class="metismenu">
                    <li [routerLinkActive]="['active']" ><a [routerLink]="['/home/dashboard']"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/professors']"><i class="fa fa-black-tie"></i><span>Professors</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/staff']"><i class="fa fa-user-circle-o"></i><span>Staff</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/students']"><i class="fa fa-users"></i><span>Students</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/departments']"><i class="fa fa-users"></i><span>Departments</span></a></li>
                    <!-- <li [routerLinkActive]="['active']"><a [routerLink]="['/courses']"><i class="fa fa-graduation-cap"></i><span>Courses</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/library']"><i class="fa fa-book"></i><span>Library</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/holiday']"><i class="fa fa-bullhorn"></i><span>Holiday</span></a></li>
                    <li class="g_heading">Extra</li> -->
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/calender']"><i class="fa fa-calendar"></i><span>Calender</span></a></li>
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/app-chat']"><i class="fa fa-comments-o"></i><span>Chat App</span></a></li>
                    <!-- <li><a [routerLink]="['/app-contact']"><i class="fa fa-address-book"></i><span>Contact</span></a></li> -->
                    <li [routerLinkActive]="['active']"><a [routerLink]="['/home/app-filemanager']"><i class="fa fa-folder"></i><span>FileManager</span></a></li>
                    <!-- <li><a href="our-centres.html"><i class="fa fa-map"></i><span>OurCentres</span></a></li>
                    <li><a href="gallery.html"><i class="fa fa-camera-retro"></i><span>Gallery</span></a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</div>