<div class="modal fade" id="taskEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Task</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" name="task-name" type="text" [value]="task.name" (change)="task.name = $event.target.value" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" name="task-desc" type="text" [value]="task.description" (change)="task.description = $event.target.value" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Start Date</label>
                            <input class="form-control" name="task-start" type="date" [value]="task.dateStart | date:'y-MM-dd'" (change)="onStartDateChanged($event.target.value)">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>End Date</label>
                            <input class="form-control" name="task-end" type="date" [value]="task.dateEnd | date:'y-MM-dd'" (change)="onEndDateChanged($event.target.value)">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Status</label>
                            <select name="task-status" class="form-control" (change)="onValueSelected($event.target.value)">
                                <option [selected]="task.status == 'Planned' ? 'true' : 'false'" value="Planned">Planned</option>
                                <option [selected]="task.status == 'Completed' ? 'true' : 'false'" value="Completed">Completed</option>
                                <option [selected]="task.status == 'In Progress' ? 'true' : 'false'" value="In Progress">In Progress</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Progress</label>
                            <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="50" class="slider" (change)="task.progress = $event.target.value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn mr-auto delete-btn btn-danger" (click)="taskDelete.emit(task)" data-dismiss="modal">Delete</button>
                <button class="btn save-btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>