<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="header-action">
                <h1 class="page-title">Dashboard</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </div>
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" id="TaskBoard-tab" data-toggle="tab"
                        href="#TaskBoard-all">Task List</a></li>
                <li class="nav-item"><a class="nav-link" id="TaskBoard-tab" data-toggle="tab"
                        href="#TaskBoard-Scrum">Scrum Type</a></li>
                <li class="nav-item"><a class="nav-link" id="TaskBoard-tab" data-toggle="tab" href="#TaskBoard-add">Add
                        Task</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active" id="TaskBoard-all">
                <div class="table-responsive">
                    <table class="table table-hover table-vcenter mb-0 table_custom spacing8 text-nowrap">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Duration</th>
                                <th>Action</th>
                                <th class="w200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of taskList; index as i;" onclick="$('#taskEditModal').modal('show');" (click)="showEditModal(task)">
                                <td>
                                    <h6 class="mb-0">{{ task.name }}</h6>
                                    <span>{{ task.description }}</span>
                                </td>
                                <td>
                                    <div class="text-info">Start: {{ task.dateStart | date:"d MMM y" }}</div>
                                    <div class="text-pink">End: {{ task.dateEnd | date:"d MMM y" }}</div>
                                </td>
                                <td>
                                    <span [class]="'tag ' + ({'Planned': 'tag-blue', 'Completed': 'tag-green', 'In Progress': 'tag-orange'})[task.status] ">{{ task.status }}</span>
                                </td>
                                <td>
                                    <div class="clearfix">
                                        <div class="float-left"><strong>{{ task.progress | number:"1.0-0" }}%</strong></div>
                                        <div class="float-right"><small class="text-muted">Progress</small></div>
                                    </div>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar bg-azure" role="progressbar" [style.width]="(task.progress | number:'1.0-0') + '%'"
                                            [attr.aria-valuenow]="(task.progress | number:'1.0-0') + '%'" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="TaskBoard-Scrum">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12">
                        <div class="card planned_task">
                            <div class="card-header">
                                <h3 class="card-title">Planned</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                            class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                            class="fe fe-x"></i></a>
                                    <div class="item-action dropdown ml-2">
                                        <a href="javascript:void(0)" data-toggle="dropdown"><i
                                                class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-eye"></i> View Details </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-folder"></i> Move to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-edit"></i> Rename</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="dd" data-plugin="nestable">
                                    <ol class="dd-list">
                                        <li *ngFor="let task of getTaskByAction('Planned'); index as i;" class="dd-item" [attr.data-id]="i | number:'2.0-0'">
                                            <div class="dd-handle">
                                                <h6>{{ task.name }}</h6>
                                                <span class="time"><span class="text-primary">{{ task.dateStart | date:"d MMM y" }}</span> to
                                                    <span class="text-danger">{{ task.dateEnd | date:"d MMM y" }}</span></span>
                                                <p>{{ task.description }}</p>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card progress_task">
                            <div class="card-header">
                                <h3 class="card-title">In progress</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                            class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                            class="fe fe-x"></i></a>
                                    <div class="item-action dropdown ml-2">
                                        <a href="javascript:void(0)" data-toggle="dropdown"><i
                                                class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-eye"></i> View Details </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-folder"></i> Move to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-edit"></i> Rename</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="dd" data-plugin="nestable">
                                    <ol class="dd-list">
                                        <li *ngFor="let task of getTaskByAction('In Progress'); index as i;" class="dd-item" [attr.data-id]="i | number:'2.0-0'">
                                            <div class="dd-handle">
                                                <h6>{{ task.name }}</h6>
                                                <span class="time"><span class="text-primary">{{ task.dateStart | date:"d MMM y" }}</span> to
                                                    <span class="text-danger">{{ task.dateEnd | date:"d MMM y" }}</span></span>
                                                <p>{{ task.description }}</p>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card completed_task">
                            <div class="card-header">
                                <h3 class="card-title">Completed</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                            class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                            class="fe fe-maximize"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                            class="fe fe-x"></i></a>
                                    <div class="item-action dropdown ml-2">
                                        <a href="javascript:void(0)" data-toggle="dropdown"><i
                                                class="fe fe-more-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-eye"></i> View Details </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-share-alt"></i> Share </a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-cloud-download"></i> Download</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-copy"></i> Copy to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-folder"></i> Move to</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-edit"></i> Rename</a>
                                            <a href="javascript:void(0)" class="dropdown-item"><i
                                                    class="dropdown-icon fa fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="dd" data-plugin="nestable">
                                    <ol class="dd-list">
                                        <li *ngFor="let task of getTaskByAction('Completed'); index as i;" class="dd-item" [attr.data-id]="i | number:'2.0-0'">
                                            <div class="dd-handle">
                                                <h6>{{ task.name }}</h6>
                                                <p>{{ task.description }}</p>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="TaskBoard-add">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Task</h3>
                        <div class="card-options ">
                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                    class="fe fe-chevron-up"></i></a>
                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                    class="fe fe-x"></i></a>
                        </div>
                    </div>
                    <form class="card-body">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Task no. <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Job title <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Select Team <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <select class="form-control show-tick">
                                    <option>Select</option>
                                    <option>John Smith</option>
                                    <option>Claire Peters</option>
                                    <option>Allen Collins</option>
                                    <option>Cory Carter</option>
                                    <option>Rochelle Barton</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Description <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <textarea rows="4" class="form-control no-resize"
                                    placeholder="Please type what you want..."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Range <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <div class="input-daterange input-group" data-provide="datepicker">
                                    <input type="text" class="form-control" name="start">
                                    <span class="input-group-addon"> to </span>
                                    <input type="text" class="form-control" name="end">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label"></label>
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-edit-task-modal-popup [task]="selectedTask"></app-edit-task-modal-popup>