<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="header-action">
                <h1 class="page-title">Professors</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">PFE Insat</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Professors</li>
                </ol>
            </div>
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pro-all">List View</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#pro-grid">Grid View</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane active" id="pro-all">
                <div class="table-responsive">
                    <table class="table table-hover table-vcenter table_custom text-nowrap spacing5 border-style mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Number</th>
                                <th>Designation</th>
                                <th>Email</th>
                                <th>Position</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prof of professors">
                                <td class="w60">
                                    <div class="avatar avatar-pink" data-toggle="tooltip" data-placement="top" title=""
                                        data-original-title="Avatar Name">
                                        <span>{{prof.name.charAt(0)}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="font-15">{{prof.name}}</div>
                                </td>
                                <td><span>{{prof.phone}}</span></td>
                                <td><span class="text-muted">{{prof.department}}</span></td>
                                <td>{{prof.email}}</td>
                                <td><span class="tag ">{{prof.position}}</span></td>
                                <td><button class="btn btn-sm btn-outline-success" [routerLink]="['/home/app-chat/', prof.email]">contact</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="pro-grid">
                <div class="row">
                    <div *ngFor="let prof of professors" class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <img class="card-profile-img" src="../assets/images/sm/avatar1.jpg" alt="">
                                <h5 class="mb-0">{{prof.name}}</h5>
                                <span>{{prof.department}}</span>
                                <div class="text-muted">{{prof.phone}}</div>
                                <p class="mb-4 mt-3">{{prof.position}}</p>
                                <button class="btn btn-primary btn-sm">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/core.js"></script>
<script src="assets/js/form/dropify.js"></script>
<script src="assets/js/page/summernote.js"></script>